/* Reset and box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav h2 {
    color: #ffffff;
    padding: 0 16px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Active page styling */
.sidenav a.active {
    color: #ffffff;
}

/* Style page content */
.main {
    margin-left: 220px;
    padding: 0px 10px;
    max-width: 900px;
}

/* List styling for job descriptions */
.jobdesc ul,
.currentjobdesc ul {
    margin: 0;
    padding-left: 20px;
}

.jobdesc li,
.currentjobdesc li {
    margin-bottom: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}

.homepic {
    float: right;
    margin-left: 10px;
    clear: both;
}

.hometext {
    margin-right: 0px;
    overflow: auto;
    display: block;
}

.hometext a:link {
    color: #808080;
}

.hometext a:visited {
    color: #000000;
}

.hometext a:hover {
    color: #a4a4a4;
}

.currentjobdesc {
    font-size: 0.90em;
}

.jobdesc {
    font-size: 0.75em;
}

.socmedicon {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.socmedicon:hover {
    opacity: 0.7;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 10px;
    }
    .sidenav h2 {
        text-align: center;
        padding: 10px;
    }
    .sidenav a {
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }
    .main {
        margin-left: 0;
        padding: 10px;
    }
    .homepic {
        float: none;
        display: block;
        margin: 0 auto 10px;
        text-align: center;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
